:root{
    --bg: rgb(224, 224, 224);
}


.container{
    height: fit-content;
    width: 90%;
    margin-top: 80px;
}
.holder_div{
    background-color: var(--bg);
    display: flex;
    justify-content: center;
}
.upper_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--bg);
    border-radius: 10px;
}

.img_div{
    height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.upper_container img{
    height: 100%;
    width: auto;
    background-color: inherit;
}

.score{
    background-color: inherit;
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score p:last-child, .score p:first-child{
    font-weight: bold;
    margin: 0;
}
.answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 40px;
}

.answer_item{
    height: fit-content;
    width: 96%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.114);
    padding: 10px;
    padding-bottom: 20px;
}
.question{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
}

.question h4{
    margin: 0;
}

/* MCQ design */
.mcq_div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 5px;
    column-gap: 5px;
}

.custom_option{
    background-color: rgba(205, 192, 192, 0.416);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
}

.border_box{
    border: 1px solid black;
}

.custom_option:hover{
    /* background-color: rgb(130, 130, 130); */
    
}
.custom_option:hover .custom_lebel{
    /* color: white; */
}

.custom_lebel{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
}

.right > path{
    fill: rgb(28, 224, 113);
}

.right{
    font-size: 25px;
}
.wrong > path{
    fill: red;
}

.wrong{
    font-size: 25px;
}



/* resposiveness */
@media (max-width:1000px) {
    .img_div{
        display: none;
    }
    .upper_container{
        justify-content: center;
    }

    .score{
        width: 100%;
    }
    
}

@media (max-width: 800px) {
    .mcq_div{
        grid-template-columns: repeat(1,1fr);
    }

    .q_icon{
        display: none;
    }
}